html {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';

    font-family: var(--font-sans);
}

.somethingStrange {
    color: red;
}

.somethingBig {
    font-size:xx-small;
}